[submodule "src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/ContentMine/go-europmc"]
	path = src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/ContentMine/go-europmc
	url = https://github.com/ContentMine/go-europmc.git
[submodule "src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/ContentMine/wikibase"]
	path = src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/ContentMine/wikibase
	url =  https://github.com/ContentMine/wikibase.git
[submodule "src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/ContentMine/ahocorasick"]
	path = src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/ContentMine/ahocorasick
	url = https://github.com/ContentMine/ahocorasick.git
[submodule "src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/mrjones/oauth"]
	path = src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/mrjones/oauth
	url = https://github.com/mrjones/oauth.git
[submodule "src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/hashicorp/errwrap"]
	path = src/github.com/ContentMine/ScienceSourceIngest/vendor/github.com/hashicorp/errwrap
	url = https://github.com/hashicorp/errwrap.git
